* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.products {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}

.product {
    padding: 16px;
}

.product__image {
    width: 100%;
    height: auto;
}

.product__name {
    font-size: 1.2em;
    margin: 8px 0;
}

.product__description {
    color: gray;
}

.product_modifier_highlight {
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}