@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    &__content{
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 60px;
                }

                button {
                    display: block;
                    width: 100%;
                    height: 60px;
                    font-size: 18px;
                    color: variaveis.$corTextoSecundario;
                    background-color: #6421ff;
                    border-radius: 4px;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

